<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>جدول زمان بندی</title>

    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/AT-pro-logo.png"/>

    <!-- Import lib -->
    <link rel="stylesheet" type="text/css" href="/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- End import lib -->

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body class="overlay-scrollbar">
<!-- navbar -->
<div class="navbar">
    <!-- nav right -->
    <ul class="navbar-nav nav-right">
        <li class="nav-item mode">
            <a class="nav-link" onclick="switchTheme()">
                <i class="fas fa-moon dark-icon"></i>
                <i class="fas fa-sun light-icon"></i>
            </a>
        </li>
        <li class="nav-item avt-wrapper">
            <div class="avt dropdown">
                <img src="assets/tuat.jpg" alt="User image" class="dropdown-toggle" data-toggle="user-menu">
                <ul id="user-menu" class="dropdown-menu">
                    <li class="dropdown-menu-item">
                        <a class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-user-tie"></i>
                            </div>
                            <span></span>
                        </a>
                    </li>
                    <li class="dropdown-menu-item">
                        <a href="exit" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item burger">
            <a class="nav-link">
                <i class="fas fa-bars" onclick="collapseSidebar()"></i>
            </a>
        </li>
    </ul>
    <!-- end nav right -->
</div>
<!-- end navbar -->
<!-- sidebar -->
<div class="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a href="/admin_main" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-home"></i>
                </div>
                <span>
						صفحه اصلی
				</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="/Users" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-users"></i>
                </div>
                <span>اساتید دانشگاه</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="/Courses" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-book"></i>
                </div>
                <span>دروس دانشگاه</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="/Days" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-calendar"></i>
                </div>
                <span>روز های کاری</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="/Bells" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-bell"></i>
                </div>
                <span>زنگ های درسی</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="/timetablebell" class="sidebar-nav-link active">
                <div>
                    <i class="fas fa-clock"></i>
                </div>
                <span>جدول زمان بندی</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="/loginrole" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-sign-out-alt"></i>
                </div>
                <span>خروج از سیستم</span>
            </a>
        </li>
    </ul>
</div>
<!-- end sidebar -->
<!-- main content -->
<div class="wrapper">
    <div class="row">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-content">
                    <form enctype="multipart/form-data" dir="rtl" class="add-form" method="post" th:action="@{/timetabelbell/addtimetabelbell}" th:object="${new_timetabelbell}">
                        <div>
                            <label for="day">نام روز:</label>
                            <select class="selectpicker" id="day" th:field="*{day}">
                                <option th:each="day : ${day_model}" th:text="${day.getLabel()}" th:value="${day.getId()}"></option>
                            </select>
                        </div>
                        <div>
                            <label for="bell">نام زنگ:</label>
                            <select class="selectpicker" id="bell" th:field="*{bell}">
                                <option th:each="bell : ${bell_model}" th:text="${bell.getLabel()}" th:value="${bell.getId()}"></option>
                            </select>
                        </div>
                        <button>ثبت درس جدید</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card" dir="rtl">
                <div class="card-header">
                    <h3>
                        جدول زمان بندی زنگها در تمامی روزهای کاری
                    </h3>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="card-content">
                    <table id="myTable">
                        <thead>
                        <tr>
                            <th>نام روز</th>
                            <th>شماره روز</th>
                            <th>نام زنگ</th>
                            <th>شماره زنگ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="timetablebell : ${time_tables}">
                            <td th:text="${timetablebell.getDay().getLabel()}"/>
                            <td th:text="${timetablebell.getDay().getDayOfWeek()}"/>
                            <td th:text="${timetablebell.getBell().getLabel()}"/>
                            <td th:text="${timetablebell.getBell().getBellOfDay()}"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end main content -->
<!-- import script -->
<script src="index.js"></script>
<!-- end import script -->
</body>
</html>