<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>زنگ های درسی</title>

    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="assets/AT-pro-logo.png"/>

    <!-- Import lib -->
    <link rel="stylesheet" type="text/css" href="/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- End import lib -->

    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="overlay-scrollbar">
<!-- navbar -->
<div class="navbar">
    <!-- form -->
    <form class="navbar-search">
        <input type="text" name="Search" id="search" onkeyup="myFunction()" class="navbar-search-input"
               placeholder="...جستجو بر اساس نام زنگ">
        <i class="fas fa-search"></i>
    </form>
    <!-- end form -->
    <!-- nav right -->
    <ul class="navbar-nav nav-right">
        <li class="nav-item mode">
            <a class="nav-link" href="#" onclick="switchTheme()">
                <i class="fas fa-moon dark-icon"></i>
                <i class="fas fa-sun light-icon"></i>
            </a>
        </li>
        <li class="nav-item avt-wrapper">
            <div class="avt dropdown">
                <img src="assets/tuat.jpg" alt="User image" class="dropdown-toggle" data-toggle="user-menu">
                <ul id="user-menu" class="dropdown-menu">
                    <li class="dropdown-menu-item">
                        <a class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-user-tie"></i>
                            </div>
                            <span></span>
                        </a>
                    </li>
                    <li class="dropdown-menu-item">
                        <a href="exit" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item burger">
            <a class="nav-link">
                <i class="fas fa-bars" onclick="collapseSidebar()"></i>
            </a>
        </li>
    </ul>
    <!-- end nav right -->
</div>
<!-- end navbar -->
<!-- sidebar -->
<div class="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a href="main" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-home"></i>
                </div>
                <span>
						صفحه اصلی
					</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="master" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-users"></i>
                </div>
                <span>اساتید دانشگاه</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="day" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-calendar"></i>
                </div>
                <span>روز های کاری</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="bell" class="sidebar-nav-link active">
                <div>
                    <i class="fas fa-bell"></i>
                </div>
                <span>زنگ های درسی</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="timetabelbell" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-clock"></i>
                </div>
                <span>جدول زمان بندی</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="exit" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-sign-out-alt"></i>
                </div>
                <span>خروج از سیستم</span>
            </a>
        </li>
    </ul>
</div>
<!-- end sidebar -->
<!-- main content -->
<div class="wrapper">
    <div class="row">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-content">
                    <form dir="rtl" class="add-form" method="post">
                        <div>
                            <label for="label">نام زنگ:</label>
                            <input type="text" class="textinput" id="label">
                        </div>
                        <div>
                            <label for="bellOfDay">شماره زنگ:</label>
                            <input type="text" class="textinput" id="bellOfDay">
                        </div>
                        <button>ثبت زنگ جدید</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card" dir="rtl">
                <div class="card-header">
                    <h3>
                        لیست زنگ ها
                    </h3>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="card-content">
                    <table id="myTable">
                        <thead>
                        <tr>
                            <th>نام زنگ</th>
                            <th>شماره زنگ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td/>
                            <td/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end main content -->
<!-- import script -->
<script src="index.js"></script>
<script>
		function myFunction() {

		  var input, filter, table, tr, td, i, txtValue;
		  input = document.getElementById("search");
		  filter = input.value.toUpperCase();
		  table = document.getElementById("myTable");
		  tr = table.getElementsByTagName("tr");

		  for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[3];
			if (td) {
			  txtValue = td.textContent || td.innerText;
			  if (txtValue.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			  } else {
				tr[i].style.display = "none";
			  }
			}
		  }
		}


</script>
<!-- end import script -->
</body>
</html>