<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>اساتید دانشگاه</title>

    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="assets/AT-pro-logo.png"/>

    <!-- Import lib -->
    <link rel="stylesheet" type="text/css" href="/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- End import lib -->

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/pikaday.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/theme.css}">
</head>
<body class="overlay-scrollbar">
<!-- navbar -->
<div class="navbar">
    <!-- form -->
    <form class="navbar-search">
        <input type="text" name="Search" id="search" onkeyup="myFunction()" class="navbar-search-input"
               placeholder="...جستجو بر اساس نام کاربری">
        <i class="fas fa-search"></i>
    </form>
    <!-- end form -->
    <!-- nav right -->
    <ul class="navbar-nav nav-right">
        <li class="nav-item mode">
            <a class="nav-link" onclick="switchTheme()">
                <i class="fas fa-moon dark-icon"></i>
                <i class="fas fa-sun light-icon"></i>
            </a>
        </li>
        <li class="nav-item avt-wrapper">
            <div class="avt dropdown">
                <img th:src="@{/assets/tuat.jpg}" alt="User image" class="dropdown-toggle" data-toggle="user-menu">
                <ul id="user-menu" class="dropdown-menu">
                    <li class="dropdown-menu-item">
                        <a class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-user-tie"></i>
                            </div>
                            <span></span>
                        </a>
                    </li>
                    <li class="dropdown-menu-item">
                        <a href="exit" class="dropdown-menu-link">
                            <div>
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item burger">
            <a class="nav-link">
                <i class="fas fa-bars" onclick="collapseSidebar()"></i>
            </a>
        </li>
    </ul>
    <!-- end nav right -->
</div>
<!-- end navbar -->
<!-- sidebar -->
<div class="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a href="main" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-home"></i>
                </div>
                <span>
						صفحه اصلی
					</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="Users" class="sidebar-nav-link active">
                <div>
                    <i class="fas fa-users"></i>
                </div>
                <span>اساتید دانشگاه</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="day" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-calendar"></i>
                </div>
                <span>روز های کاری</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="bell" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-bell"></i>
                </div>
                <span>زنگ های درسی</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="timetabelbell" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-clock"></i>
                </div>
                <span>جدول زمان بندی</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="login" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-sign-out-alt"></i>
                </div>
                <span>خروج از سیستم</span>
            </a>
        </li>
    </ul>
</div>
<!-- end sidebar -->
<!-- main content -->
<div class="wrapper">
    <div class="row">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-content">
                    <form dir="rtl" class="add-form" method="post" th:action="@{/Users/register}" th:object="${master}">
                        <div>
                            <label for="name">نام:</label>
                            <input type="text" class="textinput" th:field="*{name}" id="name" required>
                        </div>
                        <div>
                            <label for="lastname">نام خانوادگی:</label>
                            <input type="text" class="textinput" th:field="*{lastname}" id="lastname" required>
                        </div>
                        <div>
                            <label for="email">ایمیل:</label>
                            <input type="email" class="textinput" th:field="*{email}" id="email" required>
                        </div>
                        <div>
                            <label for="password">رمز عبور:</label>
                            <input type="password" class="textinput" th:field="*{password}" id="password" required>
                        </div>
                        <div>
                            <label for="codemelli">کدملی:</label>
                            <input type="number" class="textinput" th:field="*{codemelli}" id="codemelli" minlength="10" maxlength="10">
                        </div>
                        <div>
                            <label for="birthday">تاریخ تولد:</label>
                            <input type="text" class="textinput" th:field="*{birthday}" id="birthday">
                        </div>
                        <div>
                            <label for="cover">عکس:</label>
                            <input type="file" th:field="*{file}" id="cover">
                        </div>
                        <button>ثبت کاربر جدید</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-m-12 col-sm-12">
            <div class="card" dir="rtl">
                <div class="card-header">
                    <h3>
                        لیست کاربران
                    </h3>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="card-content">
                    <table id="myTable">
                        <thead>
                        <tr>
                            <th>کد ملی</th>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>ایمیل</th>
                            <th>رمز عبور</th>
                            <th>تاریخ تولد</th>
                            <th>عکس</th>
                            <th>ایجاد شده در</th>
                            <th>بروزرسانی شده در</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="master : ${master_model}">
                            <td th:text="${master.getCodemelli()}"></td>
                            <td th:text="${master.getName()}"></td>
                            <td th:text="${master.getLastname()}"></td>
                            <td th:text="${master.getEmail()}"></td>
                            <td th:text="${master.getPassword()}"></td>
                            <td th:text="${master.getBirthday()}"></td>
                            <td><img th:src="'/assets/usercover/' + ${master.getCover()}" alt=""/></td>
                            <td th:text="${#temporals.format(master.getCreatedAt(),'HH:mm:ss - yyyy/MM/dd')}"></td>
                            <td th:text="${#temporals.format(master.getUpdatedAt(),'HH:mm:ss - yyyy/MM/dd')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end main content -->
<!-- import script -->
<script src="index.js"></script>
<script src="js/moment.js"></script>
<script src="js/jalali-moment.js"></script>
<script src="js/pikaday.js"></script>
<script src="js/app.js"></script>
<script>
		function myFunction() {

		  var input, filter, table, tr, td, i, txtValue;
		  input = document.getElementById("search");
		  filter = input.value.toUpperCase();
		  table = document.getElementById("myTable");
		  tr = table.getElementsByTagName("tr");

		  for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[3];
			if (td) {
			  txtValue = td.textContent || td.innerText;
			  if (txtValue.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			  } else {
				tr[i].style.display = "none";
			  }
			}
		  }
		}


</script>
<!-- end import script -->
</body>
</html>